apache-airflow-providers-amazon ~=8.25
apache-airflow-providers-celery >=3.7
apache-airflow-providers-snowflake ~=5.6
snowflake-connector-python ~=3.11
py-orca[all] == 1.4.0
pandas <3.0.0
slack-sdk >=3.27
pendulum<3.0.0
