apache-airflow-providers-amazon ~=8.25
apache-airflow-providers-celery >=3.7
apache-airflow-providers-snowflake ~=5.6
snowflake-connector-python ~=3.11
# Installed in Dockerfile - Should be updated to use version from PYPI when ready
# py-orca[all] @ git+https://github.com/Sage-Bionetworks-Workflows/py-orca@7c4781c4750ca8025deb1c6665730d7d46844fbc#egg=py-orca[all]
pandas <3.0.0
slack-sdk >=3.27
pendulum<3.0.0
